 
<link rel="stylesheet" href="/stylesheets/style.css" />

 <section class="employee-section">
      <div>
            <button class="prominent">NEW</button>
            <div>
              <img class="search-img" src="/images/search.svg" alt="">
               <input type="search" name="" id="" placeholder="search for person">
               <button>search</button>
            </div>
      </div>
   
<div style="overflow-x:auto;">
  <table>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Name</th>
      <th>Lastname</th>
      <th>Street</th>
      <th>Vehicle</th>
      <th></th>
      <th></th>
      
    </tr>
    <tr>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
      <td>50</td>
      <td>50</td>
      <td>50</td>
      <td><button class="secondary-btn">EDIT</button></td>
      <td><button class="secondary-btn">DELETE</button></td>
    </tr>
    <tr>
      <td>Eve</td>
      <td>Jackson</td>
      <td>94</td>
      <td>94</td>
      <td>94</td>
      <td>94</td>
      <td><button class="secondary-btn">EDIT</button></td>
      <td><button class="secondary-btn">DELETE</button></td>
    </tr>
    <tr>
      <td>Adam</td>
      <td>Johnson</td>
      <td>67</td>
      <td>67</td>
      <td>67</td>
      <td>67</td>
      <td><button class="secondary-btn">EDIT</button></td>
      <td><button class="secondary-btn">DELETE</button></td>
    </tr>
    <tr>
      <td>Adam</td>
      <td>Johnson</td>
      <td>67</td>
      <td>67</td>
      <td>67</td>
      <td>67</td>
      <td><button class="secondary-btn">EDIT</button></td>
      <td><button class="secondary-btn">DELETE</button></td>
    </tr>
    <tr>
      <td>Adam</td>
      <td>Johnson</td>
      <td>67</td>
      <td>67</td>
      <td>67</td>
      <td>67</td>
      <td><button class="secondary-btn">EDIT</button></td>
      <td><button class="secondary-btn">DELETE</button></td>
    </tr>
    <tr>
      <td>Adam</td>
      <td>Johnson</td>
      <td>67</td>
      <td>67</td>
      <td>67</td>
      <td>67</td>
      <td><button class="secondary-btn">EDIT</button></td>
      <td><button class="secondary-btn">DELETE</button></td>
    </tr>
    <tr>
      <td>Adam</td>
      <td>Johnson</td>
      <td>67</td>
      <td>67</td>
      <td>67</td>
      <td>67</td>
      <td><button class="secondary-btn">EDIT</button></td>
      <td><button class="secondary-btn">DELETE</button></td>
    </tr>
    <tr>
      <td>Adam</td>
      <td>Johnson</td>
      <td>67</td>
      <td>67</td>
      <td>67</td>
      <td>67</td>
      <td><button class="secondary-btn">EDIT</button></td>
      <td><button class="secondary-btn">DELETE</button></td>
    </tr>
    <tr>
      <td>Adam</td>
      <td>Johnson</td>
      <td>67</td>
      <td>67</td>
      <td>67</td>
      <td>67</td>
      <td><button class="secondary-btn">EDIT</button></td>
      <td><button class="secondary-btn">DELETE</button></td>
    </tr>
    <tr>
      <td>Adam</td>
      <td>Johnson</td>
      <td>67</td>
      <td>67</td>
      <td>67</td>
      <td>67</td>
      <td><button class="secondary-btn">EDIT</button></td>
      <td><button class="secondary-btn">DELETE</button></td>
    </tr>
    <tr>
      <td>Adam</td>
      <td>Johnson</td>
      <td>67</td>
      <td>67</td>
      <td>67</td>
      <td>67</td>
      <td><button class="secondary-btn">EDIT</button></td>
      <td><button class="secondary-btn">DELETE</button></td>
    </tr>
    <tr>
      <td>Adam</td>
      <td>Johnson</td>
      <td>67</td>
      <td>67</td>
      <td>67</td>
      <td>67</td>
      <td><button class="secondary-btn">EDIT</button></td>
      <td><button class="secondary-btn">DELETE</button></td>
    </tr>
    <tr>
      <td>Adam</td>
      <td>Johnson</td>
      <td>67</td>
      <td>67</td>
      <td>67</td>
      <td>67</td>
      <td><button class="secondary-btn">EDIT</button></td>
      <td><button class="secondary-btn">DELETE</button></td>
    </tr>
    <tr>
      <td>Adam</td>
      <td>Johnson</td>
      <td>67</td>
      <td>67</td>
      <td>67</td>
      <td>67</td>
      <td><button class="secondary-btn">EDIT</button></td>
      <td><button class="secondary-btn">DELETE</button></td>
    </tr>
    <tr>
      <td>Adam</td>
      <td>Johnson</td>
      <td>67</td>
      <td>67</td>
      <td>67</td>
      <td>67</td>
      <td><button class="secondary-btn">EDIT</button></td>
      <td><button class="secondary-btn">DELETE</button></td>
    </tr>
  </table>
   </section>
