<section class="index-section">
	
	
	<img src="/images/car-logo.svg" alt="">

    <div>
		<button><a class="back-btn" href="/login">Login</a></button>
        <button><a class="back-btn" href="/signup">Sign Up</a></button>
	    
    </div>
	
</section>

<script>
	
	const nav = document.querySelectorAll('nav');

	function changeNav() {
		return nav[0].style.visibility = 'hidden';
	}
	console.log('anything');
	console.log(nav);
	changeNav();
</script>
