<link rel="stylesheet" href="/stylesheets/style.css" />

<section class="login-section">
  <div class="navbar">
    <div class="logo">
      <a href="/" class="index-logo">EAZY<span>HUB</span></a>
    </div>

    <div class="nav__links">
      <a href="/" class="active nav__link">Home</a>
      <a href="/login" class="nav__link">Login</a>
      <a href="/signup" class="nav__link">Sign Up</a>
    </div>
  </div>

  <div id="home" class="section">
    <h1>A Managing Hub for Logistic Companies</h1>
  </div>
</section>