<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>


  
  <script>$(document).ready(function () {
    $('#example').DataTable();
});</script>
  <title>EAZY-HUB</title>
</head>
<body>
  
<div class="primary-nav">

<span class="screen-reader-text">Menu</span>
</button>

	<nav role="navigation" class="menu">

		<a href="#" class="logotype">EAZY<span>HUB</span></a>

		<div class="overflow-container">

			<ul class="menu-dropdown">

				<li><a href="/manager">Dashboard</a><span class="icon"><i class="fa fa-dashboard"></i></span></li>

				<li><a href="/employee">Employee</a><span class="icon"><i class="fa fa-users"></i></span></li>

				<li><a href="/vehicle">Vehicles</a><span class="icon"><i class="fa fa-car"></i></span></li>
        
				<li><a href="/tmanagement">Time management</a><span class="icon"><i class="fa fa-calendar"></i></span></li>
        
				<li><a href="/maps">Maps</a><span class="icon"><i class="fa fa-map"></i></span></li>

				<li><a href="/settings">Settings</a><span class="icon"><i class="fa fa-cog"></i></span></li>

			</ul>

		</div>

	</nav>

</div>

<div class="new-wrapper">

	<div id="main">

		<div id="main-contents">

	
        
        
        {{{body}}}


		</div>

	</div>

</div>
</body>
</html>



