<link rel="stylesheet" href="/stylesheets/style.css" />


<ul>
    <li><h2>manager Access Page</h2></li>
    <li><h2>avalables drivers</h2></li>
    <li><h2>avalables vehicles</h2></li>
</ul>





{{#each userData}}
<ul>
    <li>{{name}}</li>
    <li>{{email}}</li>
    <li>{{phone}}</li>
</ul>
{{/each}}