<section class="manager">
  <div class="dash-head">
    <div class="dash-head-box" style="background-color: #0C8C85">
      <div class="dash-head-info">
        <h4>Available cars</h4>
        <i class="fa fa-car"></i>
      </div>

      <div class="dash-head-num">
        <h2>23</h2>
      </div>
    </div>

    <div class="dash-head">
      <div class="dash-head-box" style="background-color: #879EF2">
        <div class="dash-head-info">
          <h4>Available tomorrow</h4>
          <i class="fa fa-calendar-check-o"></i>
        </div>

        <div class="dash-head-num">
          <h2>15</h2>
        </div>
      </div>

    </div>

    <div class="dash-head">
      <div class="dash-head-box" style="background-color: #FCFC80">
        <div class="dash-head-info">
          <h4>Active Employes</h4>
        <i class="fa fa-user"></i>
        </div>
       
        <div class="dash-head-num">
          <h2>32</h2>
        </div>
      </div>

    </div>

    <div class="dash-head">
      <div class="dash-head-box" style="background-color: #0975C6">
        <div class="dash-head-info">
          <h4>Repair</h4>
          <i class="fa fa-wrench"></i>
        </div>

        <div class="dash-head-num">
          <h2>7</h2>
        </div>
      </div>

    </div>
  </div>

  <div class="dash-body">
    <h4>Activities</h4>
  </div>
</section>

{{!-- {{#each userData}}
<ul>
    <li>{{name}}</li>
    <li>{{email}}</li>
    <li>{{phone}}</li>
</ul>
{{/each}} --}}